@import '../variables.scss';

.nav-wrapper {
    background:rgba(0, 0,0, 0.7);
    padding-top:20px;
    padding-bottom:20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1;

    .container {
        height:50px;
        .row {height:100%}

    }

    a {
        color:white;
        transition: color 0.2s 0.2s;
        position: relative;
        &:hover {
            color:$lightgreen;
            transition:width 0.1s 0.1s;
            &:before {
                content: '';
                display:inline-block;
                width:50px;
                height:50px;
                background-image: url('../images/thunder.png');
                background-size: 50px 50px;
                display:block;
                position: absolute;
                top:13px;
                left:0;
                right:0;
                margin:auto;
                z-index:-1;
                transform: rotate(90deg);
            }
        }
    }

    .logo-wrapper {
        align-self: center;
        .truck-logo {
            max-width:50px;
            height:auto;
        }
        .logo-top {
            max-width:90px;
            height:auto;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .show-logo {
            opacity: 1;
            transition: opacity 0.5s 0.5s
        }

        .hide-logo {
            opacity: 0;
            transition: opacity 0.5s 0.5s
        }
    }
}

.menu-wrapper {
    margin-top: -30px;
    height:100%;
    .thunder-nav {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        height:100%;
        a {
            color:white;
            justify-content: space-evenly;
            margin-left:20px;
            margin-right:20px;
            cursor: pointer;
            &:hover {
                color:white;
            }
        }
        a:last-child {
            margin-right:0 !important;
        }
    }
}

.logo-to-center {
    margin-left:50%;
    transition: margin-left 2.2s 0.2s;
    transform:translate(-50%, 50%)
}

.logo-to-left {
    margin-left:0%;
    transition: margin-left 2.2s 0.2s;
    transform:translate(-50%, 50%)
}

.menu-to-center {
    background:rgba(0, 0, 0, 0.95);
    transition: background 0.5s 0.5s
}

.mobile-menu-toggler {
    display:none;
}

@media (max-width:991px) {
    .mobile-menu-toggler {
        display:flex;
        justify-content: flex-end;
        font-size:30px;
        align-items: center;
        height:100%;
        color: white;
    }

    .menu-wrapper {
        .thunder-nav {
            position: fixed;
            top: -120%;
            left: 0;
            right: 0;
            flex-flow: column;
            justify-content: space-evenly;
            height: 100vh;
            align-items: center;
            background: $darkgreen;
            transition: top 0.1s 0.1s;
            z-index: -1;
            a {
                margin-left:0px;
                margin-right:0px;
                font-size:25px;
                font-family: $font-headers;
            }
        }
        .nav-show {
            top:0;
        }
    }
}

@media (max-width:576px) {
    .nav-wrapper .logo-wrapper {
        padding-left: 20px;
    }
}