@import '../variables.scss';

footer {
    padding:50px 0px;
    background:$lightblue;
    * {
        color:white;
    }
    .social {
        font-size:30px;
    }

    .truck-logo {
        max-width: 150px;
    }
}